
/* Use this one */
body {
    background-color: #FAFAFA;
    color: #911f53;
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    width:100%;
}   
header{
    margin: 0 20px 0 20px;
    background-image:url("../img/laptop.jpg");
    background-size: 100% 100%;
    background-position:center;
    object-fit: scale-down;
    height: 100vh;
}
.intro {
    text-align: center;
    margin: 20% auto;
    
}
.intro > h1{
    font-size: 40px;
    
}
.fa-github, .fa-linkedin-in {
    color: #C86F69;
    font-size: 20px;
    z-index: 5;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
nav > h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
nav > button {
    text-decoration: none;
    font-size: 20px;
    border: none;
    background-color: #dfdcd1;
    border-radius: 5px;
    padding: 5px;
}

/*grid for work section*/
.sqc1{
    grid-area: class1;
}
.sqc2{
    grid-area: class2;
}
.sqc3{
    grid-area: class3;
}
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.box6{
    grid-area: box6;
}
.box7{
    grid-area: box7;
}
.box8{
    grid-area: box8;
}
.box9{
    grid-area: box9;
}
.box10{
    grid-area: box10;
}
.box11{
    grid-area: box11;
}

/* .class1container,.class2container,.class3container{
    display: none;
} */
.class1Content,.class2Content,.class3Content{
    margin-top: 40px;
    display: grid;
    grid-template-areas: 
    "box1 box2 box3"
    "box4 box5 box6"
    "box7 box8 box9"
    "box10 box11 box11";
}
.class1Content:hover {
    background-color: #dfdcd1;
}
.work {
    background-color: #dfdcd1;
    height: 200px;
    display: flex;              
    justify-content: center;   
    align-items: center;   
}

.square {
    height: 200px;
    width: 200px;
    background-color: #FAFAFA;
    border-radius: 2px;
    display: flex;
    justify-content: center;   
    align-items: center;  
    box-shadow:2px 4px 4px 4px #484847;
}
.button.selected {
    color:red;
}
.week > p{
    font-size: 24px;
    margin-left: 15px;
    text-align: center;
    color: lightseagreen;
}
.week > a:link {
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
    color: cornflowerblue;
    
}
.week > a:visited{
    color: #ce2e76;
} 
.week > a:hover {
    background-color: #FAFAFA;
    padding: 2px;
    border-radius: 3px;
    color: cornflowerblue;
}
.square > p{
    font-size: 32px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .1em;
    color: #484847;
    background-color: rgba(250, 250, 250, 0.322);
    text-shadow: 
    -1px -1px 1px rgb(36, 36, 36), 
    2px 2px 1px #646464;
}

.sqc2,.sq1, .sq3, .sq5, .sq7, .sq9, .sq11 {
    height: 100px;
    width: 100px;
    background: linear-gradient(
  to bottom,
  #7e7e7e,
  #7e7e7e 50%,
  #FAFAFA 50%,
  #FAFAFA
  
);
background-size: 100% 57px;
}
.sqc1,.sqc3,.sq2, .sq4, .sq6, .sq8, .sq10 {
    height: 100px;
    width: 100px;
    background: repeating-linear-gradient(
  to right,
  #FAFAFA,
  #FAFAFA 22px,
  #7e7e7e 22px,
  #7e7e7e 44px
);
}
.sqc1,.sqc2,.sqc3{
    height: 200px;
    width: 200px;
}
.work:hover {
    background-color: #4848479f;
    cursor: pointer;
}
/* .week1,.week2,.week3,.week4,.week5,.week6,.week7,.week8,.week9,.week10,.week11 {
    display: none;
} */
.display {
    display:block;
    height: 500px;

}
/*footer*/
footer{

    background-color: #484847;
}
footer > h3{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #FAFAFA;
}


/* 3 classes*/
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.column {
    margin: 40px 40px;
    width: 300px;
    cursor: pointer;
}
