/* You can style your links page here */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Carter One";
    background-image: url("/img/bananas.png");
    background-repeat: repeat;
    color: rgb(17, 11, 11);
    margin:5em 5em 0 5em;
    text-align: center;
}
h1 {
    line-height: 3;
    font-size: 30px;
}
p {
    line-height: 1.6;
    font-size: 16px;
}
