body {
  background-image: url("http://1-background.com/images/silk/black-silk-repeating-background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;  
  text-align: center;
    font-family: "Oxygen Mono", monospace;

  }
  /* .name {
  } */
  .clearfix {
    background-color: rgb(35, 43, 43);
    margin: auto;
    width:100%;
    display: inline-block;
    color: rgb(5, 115, 134);
    font-weight:bold;
  }
  .content{
    color:rgb(92, 51, 138)
  }
  description {
    font-size: 14px;
  }
  img {
    width:20px;
    height: 20px;
    padding: 5px;
  }
  .contactinfo #social{
    width: 50px;
    height: 50px;
    display:inline-block; 
  } 
  .social {

  }
    .fa-linkedin {
    color:#FFFFFF;   
  }
  .fa-facebook {
    color:#FFFFFF;
  }
  .selfie{
  margin-top: 30px; 
  margin-left: 600px;
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 50%;
  }
  
  ul {
    list-style: none;
  }
  li{
    padding: 15px;
  }
  .personal {
    float: right;
    margin-right: 600px;
    margin-top: 30px;
  }
  /* #social:nth-child(2) {
    float:right;
  } */
  nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  h1{
    font-size: 50px;
    color:rgb(92, 51, 138);
  }
  h2 {
    color: rgb(5, 115, 134);
    font-size: 30px;
  }
  
  nav {
    border: plum solid 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
  }
  footer {
    padding: 10px;
  }